.app {
	background-color: rgba(203, 245, 255, 0.7);
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.75);
}