a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: #a369e0;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 2px 1px 3px rgba(255,255,255,0.61);
}

a:hover {
	color: #8f50dc;
	text-shadow: 2px 1px 3px rgba(255,255,255,0.41);
}

.app-header {
	margin-top: 30px;
}
.app-header .MuiBottomNavigation-root {
	background-color: inherit;
}
.app-header .makeStyles-root-8 {
	width: 100%;
	display: flex;
	justify-content: center;
}
